# IntelliJ IDEA
.idea
.vscode

# Node Js
node_modules
package-lock.json

# Composer
vendor
/composer.lock

# PHPUnit
.phpunit.result.cache
.phpunit.cache

# MacOS
.DS_Store

# Local / IDE noise
MAMP_php_error_log*
